/* Reset */



* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



/* Fonts */



@font-face {
    font-family: 'Libre Baskerville';
    src: url(../fonts/LibreBaskerville-Regular.ttf) format('truetype'),
    url(../fonts/LibreBaskerville-Regular.woff) format('woff'),
    url(../fonts/LibreBaskerville-Regular.woff2) format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Libre Baskerville';
    src: url(../fonts/LibreBaskerville-Bold.ttf) format('truetype'),
    url(../fonts/LibreBaskerville-Bold.woff) format('woff'),
    url(../fonts/LibreBaskerville-Bold.woff2) format('woff2');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Libre Baskerville';
    src: url(../fonts/LibreBaskerville-Italic.ttf) format('truetype'),
    url(../fonts/LibreBaskerville-Italic.woff) format('woff'),
    url(../fonts/LibreBaskerville-Italic.woff2) format('woff2');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Nunito';
    src: url(../fonts/Nunito-Regular.ttf) format('truetype'),
    url(../fonts/Nunito-Regular.woff) format('woff'),
    url(../fonts/Nunito-Regular.woff2) format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Nunito';
    src: url(../fonts/Nunito-Bold.ttf) format('truetype'),
    url(../fonts/Nunito-Bold.woff) format('woff'),
    url(../fonts/Nunito-Bold.woff2) format('woff2');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Nunito';
    src: url(../fonts/Nunito-Italic.ttf) format('truetype'),
    url(../fonts/Nunito-Italic.woff) format('woff'),
    url(../fonts/Nunito-Italic.woff2) format('woff2');
    font-weight: 400;
    font-style: italic;
}



/* General */



body {
    background: linear-gradient(to bottom, #e7d1c7 0%,#596a72 100%);
    background-attachment: fixed;
    background-repeat: repeat;
}
 
h1, h2, h3, h4, h5, h6, li {
    font-family: 'Libre Baskerville';
}

p {
    font-family: 'Nunito';
}



/* Header */



.section-1 {
    width: 100%;
    min-height: 100vh;
    display: flex;
    background: url(../images/texture.png);
}

.article-1 {
    margin: auto 0;
    max-width: 70%;
    text-align: left;
    color: white;
    font-weight: bold;
    text-shadow: 2px 2px darkorange;
}

.article-1 h1 {
    font-size: 8rem;
    color: white;
    
}

.article-1 p {
    font-size: 4rem;
    
}
    

#nicklas {
    position: fixed;
    bottom: 0;
    right: 20px;
}











grid {
    max-width: 1200px;
    width: 100%;
    height: auto;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 2fr 1fr 1fr 1fr;
    grid-gap: 5px;
    justify-content: space-around;
    align-content: center;
}

grid {
    grid-column: 1 / span 3;
    grid-row: 4 / 4;
    background: black;
    color: white;
    text-align: center;
    opacity: 0.8;
    padding: 20px;
    margin: 20px;
    display: inline-flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-content: center;
}



