/* Reset */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Variables */

:root {
    --interface-dark-gray: #161616;
    --interface-light-gray: #2a2a2a;
    --interface-accent-color: #ff4000; 
}

/* Fonts */

@font-face {
    font-family: 'Oswald';
    src: url(../fonts/Oswald-Regular.ttf) format('truetype'),
    url(../fonts/Oswald-Regular.woff) format('woff'),
    url(../fonts/Oswald-Regular.woff2) format('woff2');
    font-weight: normal;
}

@font-face {
    font-family: 'Oswald';
    src: url(../fonts/Oswald-Bold.ttf) format('truetype'),
    url(../fonts/Oswald-Bold.woff) format('woff'),
    url(../fonts/Oswald-Bold.woff2) format('woff2');
    font-weight: bold;
}

@font-face {
    font-family: 'Oswald';
    src: url(../fonts/Oswald-Light.ttf) format('truetype'),
    url(../fonts/Oswald-Light.woff) format('woff'),
    url(../fonts/Oswald-Light.woff2) format('woff2');
    font-weight: lighter;
}

/* General settings*/

html {
    background: linear-gradient(to bottom, var(--interface-accent-color) 0%, #686868 100%) fixed;
    scroll-behavior: smooth;
}

/* body {
    background-image: url(../images/texture.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: auto;
} */
 
h1, h2, h3, h4, h5, h6, li {
    font-family: 'Oswald'; 
}

p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
}

.flex-center {
    display: flex;
}

.flexed-center {
    margin: auto;
}

/* Header */

header {
    width: 100%;
    height: 100vh;
    margin-bottom: 2000px;
}

.heading {
    position: fixed;
    max-width: 60%;
    text-align: left;
    color: white;
    text-shadow: 
    6px 6px 10px   black, 
    5.75px 5.75px  black, 
    5.5px 5.5px    black, 
    5.25px 5.25px  black, 
    5px 5px        black, 
    4.75px 4.75px  black, 
    4.5px 4.5px    black, 
    4.25px 4.25px  black,
    4px 4px        black,
    3.75px 3.75px  black,
    3.5px 3.5px    black,
    3.25px 3.25px  black,
    3px 3px        black,
    2.75px 2.75px  black,
    2.5px 2.5px    black,
    2.25px 2.25px  black,
    2px 2px        black,
    1.75px 1.75px  black,
    1.5px 1.5px    black,
    1.25px 1.25px  black,
    1px 1px        black,
    0.75px 0.75px  black,
    0.5px 0.5px    black,
    0.25px 0.25px  black;
}

.heading h1 {
    font-size: 10rem;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 10rem;
    padding-left: 20px;
    padding-top: 10px;
}

.heading p {
    font-family: 'Oswald';
    font-size: 4rem;
    font-weight: lighter;
    letter-spacing: 0.25rem;
    padding-left: 25px;
}   

#nicklas {
    position: fixed;
    bottom: 0;
    right: 200px;
    height: 600px;
    width: auto;
}

.arrow-down {
    position: fixed;
    bottom: 40px;
    left: 100vh;
    color: white;
    font-size: 5rem;
    opacity: 1;
    border-radius: 50%;
    transform: scale(1);
    animation: pulse 2s infinite;
}

@keyframes pulse {
    0% {
      transform: scale(0.90);
      box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
    }
    
    70% {
      transform: scale(1);
      box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
    }
    
    100% {
      transform: scale(0.90);
      box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
    }
}

@media only screen and (max-width: 1200px) {

    header {
        display: none;
    }

}

/* Main content */

#wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
}

#main-content {
    opacity: 0;
    z-index: 1;
    margin: auto;
    display: grid;
    grid-template: 12.5% 75% 12.5% / 1fr;
    width: 1400px;
    height: 650px;
    background-color: var(--interface-dark-gray);
    box-shadow:
    6px 6px 10px   black, 
    5.75px 5.75px  black, 
    5.5px 5.5px    black, 
    5.25px 5.25px  black, 
    5px 5px        black, 
    4.75px 4.75px  black, 
    4.5px 4.5px    black, 
    4.25px 4.25px  black,
    4px 4px        black,
    3.75px 3.75px  black,
    3.5px 3.5px    black,
    3.25px 3.25px  black,
    3px 3px        black,
    2.75px 2.75px  black,
    2.5px 2.5px    black,
    2.25px 2.25px  black,
    2px 2px        black,
    1.75px 1.75px  black,
    1.5px 1.5px    black,
    1.25px 1.25px  black,
    1px 1px        black,
    0.75px 0.75px  black,
    0.5px 0.5px    black,
    0.25px 0.25px  black;    
} 

@media only screen and (min-device-width : 1200px) {

    .fade-in {
        opacity: 1;
        animation-name: fadeInOpacity;
        animation-fill-mode: forwards;
        animation-iteration-count: 1;
        animation-timing-function: ease-in;
        animation-duration: 0.5s;
    }

    @keyframes fadeInOpacity {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
}

@media only screen and (max-width: 1200px) {

    #wrapper {
        height: auto;
        margin-top: 9vh;
    }

    #main-content {
        opacity: 1;
        grid-template: repeat(2, auto) / 1fr;
        width: auto;
        height: auto;
    }

}

/* Navigation */

nav {
    grid: 1fr / 1fr;
    display: grid;
    grid-template: 1fr / repeat(4, 1fr);
}

nav .menu-button {
    grid: 1fr / 1fr;
    align-content: center;
    font-family: 'Oswald';
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
    cursor: pointer;
    color: #f5f5f5;
    padding: 15px;
    transition-duration: 0.3s;
}

nav .menu-button:hover {
    color: var(--interface-accent-color);
}

#button1, #button2, #button3 {
    border-right: 2px solid var(--interface-dark-gray);
}

#burger-nav {
    display: none;
}

@media only screen and (max-width: 1200px) {

    nav {
        display: none;   
    } 

    #burger-nav {
        display: grid; 
        grid-template: repeat(5, auto) / 1fr;
        font-family: 'Oswald';
        position: fixed;
        top: 0; 
        left: 0;
        z-index: 1;
        width: 100%;
        align-content: center;
    }

    #top-bar {
        grid: 1fr / 1fr;
        display: grid;
        grid-template: 1fr / auto auto;
        background:black;
        padding: 20px;
        color: #f5f5f5;
        box-shadow: 0 0 10px black;
    }

    #top-bar h1 {
        grid: 1fr / 1fr;
        font-size: 6vw;
        text-align: left;
    }

    #top-bar a {
        grid: 1fr / 1fr;
        font-size: 6vw;
        text-align: right;
    }

    #hiddenLinks {
        display: none;
    }

    #hiddenLinks .menu-button {
        grid: 1fr / 1fr;
        text-align: center;
        cursor: pointer;
        font-size: 1.5rem;
        font-weight: bold;
        padding: 20px;
        color: #f5f5f5;
        display: block;
        background-color: var(--interface-light-gray);
        border-right: none;
        border-bottom: 2px solid var(--interface-dark-gray);
    }

}

/* Sections - General */

#section1, #section2, #section3, #section4 {
    grid: 1fr / 1fr;
    display: none;
    color: #f5f5f5; 
}

article, .overlay {
    display: grid;
    padding: 50px 80px 50px 80px;
    gap: 50px;
    text-align: justify;
}

@media only screen and (max-width: 1200px) {

    article, .overlay {
        padding: 50px 30px 30px 30px;
        gap: 30px;
    }

    article:last-child, .overlay:last-child, .force-margin {
        margin-bottom: 15px;
    }

}

/* Section 1 - Introduction */

#article1 { 
    grid-template: 1fr / repeat(3, 1fr);
}

.article1-column {
    grid: 1fr / 1fr;
}

#intro-picture {
    grid: 1fr / 1fr;
    width: 77%;
    max-width: 400px;
    height: auto;
    border-radius: 50%;
    box-shadow: 0px 0px 8px var(--interface-accent-color);
    padding: 2px;
    margin-top: 50px;
}

@media only screen and (max-width: 1200px) {

    #article1 { 
        grid-template: repeat(3, auto) / 1fr;
    }

    #intro-picture {
        margin-top: 10px;
    }

}

/* Section 2 - Background */

#article2 { 
    grid-template: 1fr / repeat(3, 1fr);
}

.article2-column {
    grid: 1fr / 1fr;
}

.extra-top-margin {
    margin-top: 54.5px;
}

.extra-top-margin h3 {
    margin-bottom: 14.5px;
}

#education {
    background-color: var(--interface-light-gray);
    padding: 24px;
}

#education h3 {
    font-weight: lighter;
}

#education a, #education a:visited {
    color: var(--interface-accent-color);
}


@media only screen and (max-width: 1200px) {

    #article2 { 
        grid-template: repeat(3, auto) / 1fr;
    }

    .extra-top-margin {
        margin-top: 0px;
    }

}

/* Section 3 - Projects */

#article3 {   
    grid-template: 1fr / repeat(3, 1fr);
}

.article3-column {
    grid: 1fr / 1fr;
    display: flex;
    justify-content: end;
    flex-direction: column;
    height: 390px;
    transition: 0.5s ease;
    cursor: pointer;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    box-shadow:
    6px 6px 10px   black, 
    5.75px 5.75px  black, 
    5.5px 5.5px    black, 
    5.25px 5.25px  black, 
    5px 5px        black, 
    4.75px 4.75px  black, 
    4.5px 4.5px    black, 
    4.25px 4.25px  black,
    4px 4px        black,
    3.75px 3.75px  black,
    3.5px 3.5px    black,
    3.25px 3.25px  black,
    3px 3px        black,
    2.75px 2.75px  black,
    2.5px 2.5px    black,
    2.25px 2.25px  black,
    2px 2px        black,
    1.75px 1.75px  black,
    1.5px 1.5px    black,
    1.25px 1.25px  black,
    1px 1px        black,
    0.75px 0.75px  black,
    0.5px 0.5px    black,
    0.25px 0.25px  black;
}

.article3-column:hover {
    box-shadow:
    6px 6px 10px   var(--interface-accent-color), 
    5.75px 5.75px  var(--interface-accent-color), 
    5.5px 5.5px    var(--interface-accent-color), 
    5.25px 5.25px  var(--interface-accent-color), 
    5px 5px        var(--interface-accent-color), 
    4.75px 4.75px  var(--interface-accent-color),
    4.5px 4.5px    var(--interface-accent-color), 
    4.25px 4.25px  var(--interface-accent-color),
    4px 4px        var(--interface-accent-color),
    3.75px 3.75px  var(--interface-accent-color),
    3.5px 3.5px    var(--interface-accent-color),
    3.25px 3.25px  var(--interface-accent-color),
    3px 3px        var(--interface-accent-color),
    2.75px 2.75px  var(--interface-accent-color),
    2.5px 2.5px    var(--interface-accent-color),
    2.25px 2.25px  var(--interface-accent-color),
    2px 2px        var(--interface-accent-color),
    1.75px 1.75px  var(--interface-accent-color),
    1.5px 1.5px    var(--interface-accent-color),
    1.25px 1.25px  var(--interface-accent-color),
    1px 1px        var(--interface-accent-color),
    0.75px 0.75px  var(--interface-accent-color),
    0.5px 0.5px    var(--interface-accent-color),
    0.25px 0.25px  var(--interface-accent-color);
    font-size: 1.2rem;
}

.article3-column:active {
    box-shadow: none;
}

.text-gradient {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8), transparent);
}

.text-gradient h2 {
    padding: 100px 20px 20px 20px;
    text-shadow: 3px 3px 6px black;
}

#mobile-heading {
    display: none;
}

/* Section 3 - Project pictures */

.a3c1 {
    background-image: url(../images/movie-database-projects.png);
}

.a3c2 {
    background-image: url(../images/mern-goal-projects.png);
}

.a3c3 {
    background-image: url(../images/notebook-projects.png);
}

@media only screen and (max-width: 1200px) {
    
    #article3 {
        grid-template: repeat(3, auto) / 1fr;
    }

    .article3-column {
        box-shadow: none;
    }

    #mobile-heading {
        display: block;
        grid: 1fr / 1fr;
    }

}

/* Section 3 - Overlays */

.overlay {
    display: none;
    grid-template: 1fr / 1fr 1fr;
}

.overlay-text {
    grid: 1fr / 1fr;
    text-align: justify;
}

.overlay-gallery {
    grid-area: 1fr / 1fr;
    display: flex;
    justify-content: center;
}

.overlay-picture {
    width: 70%;
    height: auto;
    margin: auto;
}

.overlay i {
    cursor: pointer;
    font-size: 4.2rem;
    opacity: 1;
    color: #f5f5f5;
    transition-duration: 0.3s;
}

.overlay i:hover {
    color: var(--interface-accent-color);
    transform: scale(1.2);
}

.project-buttons {
    display: flex;
    justify-content: start;
    align-content: center;
    flex-wrap: wrap;
    gap: 2%;
}

.project-button {
    color: #f5f5f5;
    background-color: transparent;
    border: 1px solid #f5f5f5;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    font-size: 1rem;
    padding: 1rem;
    transition-duration: 0.3s;
    color: #f5f5f5;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
    
.project-button:hover {
    color: var(--interface-accent-color);
    background-color: transparent;
    border: 1px solid var(--interface-accent-color);
}

.project-button:active {
    color: #f5f5f5;
    background-color: var(--interface-accent-color);
    border: 1px solid var(--interface-accent-color);
}

@media only screen and (max-width: 1200px) {

    .overlay {
        grid-template: auto auto / 1fr;
    }

    .project-button {
        width: 100%;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

}

/* Section 4 - Contact */

#article4 {
    display: grid;
    grid-template: 1fr / 1fr 1fr;
}

.article4-column {
    grid: 1fr / 1fr;
}

.contact-info {
    font-weight: lighter;
    letter-spacing: 0.1rem;
}

@media only screen and (max-width: 1200px) {

    #article4 {
        grid-template: auto auto / 1fr;
    }

}

/* Section 4 - Contact form */

form {
    padding-left: 80px;
    margin-left: 100px;
    border-left: 1px solid #f5f5f5;
}

textarea {
    resize: none;
}

.form-group {
    margin-bottom: 1.5rem;
}

.input-group {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding-top: 0.5rem;
}

.form-control {
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: var(--interface-dark-gray);
    background-color: white;  
    border: 1px solid white;
}

.form-button {
    background-color: transparent;
    border: 1px solid #f5f5f5;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    font-size: 1rem;
    padding: 1rem;
    transition-duration: 0.3s;
    margin-top: 1rem;
}
    
.form-button:hover {
    color: var(--interface-accent-color);
    background-color: transparent;
    border: 1px solid var(--interface-accent-color);
}

.form-button:active {
    color: #f5f5f5;
    background-color: var(--interface-accent-color);;
    border: 1px solid var(--interface-accent-color);
}

.form-control, textarea {
    color: var(--interface-dark-gray);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.form-button, label {
    color: #f5f5f5;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

@media only screen and (max-width: 1200px) {

    form {
        padding-left: 0;
        margin-left: 0;
        border-left: none;
        margin-bottom: 0;
    }

    .form-group:last-child {
        margin-bottom: 0px;
        width: 100%;
    }

    .form-button {
        width: 100%;
    }

}

/* Footer */

footer {
    grid: 1fr / 1fr;
    display: grid;
    grid-template: 1fr / 65% auto;
    background-color: var(--interface-light-gray);
    color: #f5f5f5;
    font-size: 2rem;
    border-top: 2px solid black;
    padding: 0px 35px;
}

footer i, .img-logo, #copyright {
    opacity: 0.7;
}

#left-footer {
    grid: 1fr / 1fr;
    justify-content: start;
    align-items: center;
    display: flex;
    gap: 2rem;
}

#right-footer {
    grid: 1fr / 1fr;
    justify-content: end;
    align-items: center;
    display: flex;
    gap: 2rem;
}

.img-logo {
    width: 1.8rem;
    height: 1.8rem;
}

#change-color {
    cursor: pointer;
}

.link {
    color: #f5f5f5;
    transition-duration: 0.3s;
}

.link:hover {
    transform: scale(1.05);
    opacity: 1;
    color: var(--interface-accent-color);
}

#copyright {
    font-family: 'Oswald';
    font-weight: lighter;
    letter-spacing: 0.1rem;
    font-size: 0.75rem;
}

@media only screen and (max-width: 1200px) {

    footer {
        grid-template: auto auto / 1fr;
        padding: 20px;
    }

    #left-footer, #right-footer {
        grid: 1fr / 1fr;
        justify-content: center;
        gap: 1rem;
        flex-wrap: wrap;
        text-align: center;
        margin: 20px 10px;
    }

    #copyright {
        width: 100%;
        text-align: center;
    }

}