/* Reset */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Fonts */

@font-face {
    font-family: 'Oswald';
    src: url(../fonts/Oswald-Regular.ttf) format('truetype'),
    url(../fonts/Oswald-Regular.woff) format('woff'),
    url(../fonts/Oswald-Regular.woff2) format('woff2');
    font-weight: normal;
}

@font-face {
    font-family: 'Oswald';
    src: url(../fonts/Oswald-Bold.ttf) format('truetype'),
    url(../fonts/Oswald-Bold.woff) format('woff'),
    url(../fonts/Oswald-Bold.woff2) format('woff2');
    font-weight: bold;

}

@font-face {
    font-family: 'Oswald';
    src: url(../fonts/Oswald-Light.ttf) format('truetype'),
    url(../fonts/Oswald-Light.woff) format('woff'),
    url(../fonts/Oswald-Light.woff2) format('woff2');
    font-weight: lighter;
}

/* General */

html {
    background: linear-gradient(to bottom, #ff4000 0%, #686868 100%) fixed;
    scroll-behavior: smooth
}

body {
    background-image: url(../images/texture.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 2000px;
}
 
h1, h2, h3, h4, h5, h6, li {
    font-family: 'Oswald'; 
}

p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
}

.flex-center {
    display: flex;
}

.flexed-center {
    margin: auto;
}

/* Header */

header {
    width: 100%;
    height: 100vh;
    margin-bottom: 1000px;
}

.heading {
    position: fixed;
    max-width: 60%;
    text-align: left;
    color: white;
    text-shadow: 
    6px 6px 10px   black, 
    5.75px 5.75px  black, 
    5.5px 5.5px    black, 
    5.25px 5.25px  black, 
    5px 5px        black, 
    4.75px 4.75px  black, 
    4.5px 4.5px    black, 
    4.25px 4.25px  black,
    4px 4px        black,
    3.75px 3.75px  black,
    3.5px 3.5px    black,
    3.25px 3.25px  black,
    3px 3px        black,
    2.75px 2.75px  black,
    2.5px 2.5px    black,
    2.25px 2.25px  black,
    2px 2px        black,
    1.75px 1.75px  black,
    1.5px 1.5px    black,
    1.25px 1.25px  black,
    1px 1px        black,
    0.75px 0.75px  black,
    0.5px 0.5px    black,
    0.25px 0.25px  black;
}

.heading h1 {
    font-size: 10rem;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 10rem;
    padding-left: 20px;
    padding-top: 10px;
}

.heading h2 {
    font-size: 4rem;
    font-weight: lighter;
    letter-spacing: 0.25rem;
    padding-left: 25px;
}   

#nicklas {
    position: fixed;
    bottom: 0;
    right: 30px;
    height: 600px;
    width: auto;
}

.arrow-down {
    position: fixed;
    bottom: 40px;
    left: 100vh;
    color: white;
    font-size: 5rem;
    opacity: 1;
    border-radius: 50%;
    transform: scale(1);
    animation: pulse 2s infinite;
}

@keyframes pulse {
    0% {
      transform: scale(0.90);
      box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
    }
    
    70% {
      transform: scale(1);
      box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
    }
    
    100% {
      transform: scale(0.90);
      box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
    }
}

@media only screen and (max-device-width : 1200px) {
    header {
        display: none;
    }
}

/* Main content */

#wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
}

#main-content {
    z-index: 1;
    margin: auto;
    display: grid;
    grid-template: 12.5% 75% 12.5% / 1fr;
    width: 1400px;
    height: 650px;
    background-color: #161616;
    box-shadow:
    6px 6px 10px   black, 
    5.75px 5.75px  black, 
    5.5px 5.5px    black, 
    5.25px 5.25px  black, 
    5px 5px        black, 
    4.75px 4.75px  black, 
    4.5px 4.5px    black, 
    4.25px 4.25px  black,
    4px 4px        black,
    3.75px 3.75px  black,
    3.5px 3.5px    black,
    3.25px 3.25px  black,
    3px 3px        black,
    2.75px 2.75px  black,
    2.5px 2.5px    black,
    2.25px 2.25px  black,
    2px 2px        black,
    1.75px 1.75px  black,
    1.5px 1.5px    black,
    1.25px 1.25px  black,
    1px 1px        black,
    0.75px 0.75px  black,
    0.5px 0.5px    black,
    0.25px 0.25px  black;
} 

@media only screen and (max-device-width : 1200px) {

    #wrapper {
        height: auto;
    }

    #main-content {
        grid-template: repeat(3, auto) / 1fr;
        width: auto;
        height: auto;
    }

}

/* Navigation */

nav {
    grid: 1fr / 1fr;
    display: grid;
    grid-template: 1fr / repeat(4, 1fr);
}
  
.active {
    background-color: #04AA6D;
    color: white;
}

.menu-button {
    grid: 1fr / 1fr;
    text-align: center;
    font-family: 'Oswald', serif;
    cursor: pointer;
    font-weight: bold;
    align-content: center;
    font-size: 1.7rem;
    padding: 20px;
    transition-duration: 0.5s;
    color: #F5F5F5;
}

.menu-button:hover {
    color: #ff4000;
}

#button1, #button2, #button3 {
    border-right: 2px solid #161616;
}

#burgernav {
    display: none;
}

@media only screen and (max-device-width : 1200px) {

    nav {
        display: none;   
    } 

    #burgernav {
        grid: 1fr / 1fr;
        display: grid; 
        grid-template: repeat(5, auto) / 1fr;
        overflow: hidden;
        background-color: #333;
        position: fixed;
        top: 0; 
    }


    #hiddenLinks {
        display: none;
    }

    #hiddenLinks .menu-button {
        width: 100%;
        grid: auto / 1fr;
    }

    #top-bar {
        grid: 1fr / 1fr;
        display: grid;
        grid-template: 1fr / auto auto;
    }

    #top-bar h1 {
        grid: 1fr / 1fr;
        font-size: 1.5rem;
        text-align: left;
    }

    #top-bar a {
        grid: 1fr / 1fr;
        font-size: 1.5rem;
        text-align: right;
    }
    
    .burgernav a {
        color: white;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        display: block;
    }
      
    .burgernav a.icon {
        background: black;
        display: inline;
        position: absolute;
        right: 0;
        top: 0;
    }
    
    .burgernav a:hover {
        background-color: #ddd;
        color: black;
    }

}

/* Sections - General */

#section1, #section2, #section3, #section4 {
    grid: 1fr / 1fr;
    display: none;
    color: #F5F5F5; 
}

article, .overlay {
    display: grid;
    padding: 50px 80px 50px 80px;
    gap: 50px;
    text-align: justify;
}

@media only screen and (max-device-width : 1200px) {

    article, .overlay {
        padding: 30px 20px 30px 20px;
        gap: 30px;
    }

    article:last-child, .overlay:last-child {
        margin-bottom: 20px;
    }

}

/* Section 1 - Introduction */

#article1 { 
    grid-template: 1fr / repeat(3, 1fr);
}

.article1-column {
    grid: 1fr / 1fr;
}

#intro-picture {
    grid: 1fr / 1fr;
    width: 75%;
    max-width: 400px;
    height: auto;
    border: 2px solid black;
    border-radius: 50%;
    padding: 1rem;
    background-color: #2a2a2a;
}

@media only screen and (max-device-width : 1200px) {

    #article1 { 
        grid-template: repeat(3, auto) / 1fr;
    }

}

/* Section 2 - Background */

@media only screen and (max-device-width : 1200px) {

}

/* Section 3 - Projects */

#article3 {   
    grid-template: 1fr / repeat(5, 1fr);
}

.project {
    grid: 1fr / 1fr;
    background-color: #ff4000;
    cursor: pointer;
}

.project img {
    width: 100%;
    height: auto;
}

@media only screen and (max-device-width : 1200px) {
    #article3 {
        grid-template: repeat(5, auto) / 1fr;
    }
}

/* Section 3 - Overlays */

.overlay {
    display: none;
    grid-template: 1fr / 1fr 1fr;
}

.overlay-text {
    grid: 1fr / 1fr;
    text-align: justify;
}

.overlay-gallery {
    grid-area: 1fr / 1fr;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.overlay-picture {
    width: 33%;
    height: auto;
}

.overlay .fas {
    cursor: pointer;
    font-size: 3rem;
    opacity: 1;
    color: #f5f5f5;
}

@media only screen and (max-device-width : 1200px) {
    .overlay {
        grid-template: auto auto / 1fr;
    }
}

/* Section 4 - Contact */

@media only screen and (max-device-width : 1200px) {

}

/* Footer */

footer {
    grid: 1fr / 1fr;
    display: grid;
    grid-template: 1fr / 60% auto;
    width: 100%;
    background-color: #2a2a2a;
    color: #F5F5F5;
    border-top: 2px solid black;
    padding: 0px 35px;
}

#left-footer {
    grid: 1fr / 1fr;
    justify-content: start;
    align-items: center;
    display: flex;
    gap: 2rem;
}

#right-footer {
    grid: 1fr / 1fr;
    justify-content: end;
    align-items: center;
    display: flex;
    gap: 2rem;
}

footer .fab, footer .fas {
    font-size: 2rem;
    opacity: 0.7;
}

.img-logo {
    width: 28px;
    height: 28px;
    opacity: 0.7;
}

.link {
    color: #F5F5F5;
    transition-duration: 0.5s;
}

.link:hover {
    opacity: 1;
    color: #ff4000;
}

#copyright {
    font-family: 'Oswald';
    font-weight: lighter;
    letter-spacing: 0.1rem;
    opacity: 0.7;
}

@media only screen and (max-device-width : 1200px) {

    footer {
        grid-template: auto auto / 1fr;
    }

    #left-footer, #right-footer {
        grid: 1fr / 1fr;
        justify-content: center;
        gap: 1rem;
        flex-wrap: wrap;
        text-align: center;
        margin: 20px 10px;
    }

    .fab, .fas {
        font-size: 1rem;
        opacity: 0.7;
    }

    #copyright {
        width: 100%;
        text-align: center;
    }
}